<html>
    <head>
        <title>Account Created</title>
    </head>
    <body>
        <h1>Your account was successfully created</h1>
        <a href="/signIn">Click this link to sign in</a>
    </body>
</html>