<html>
    <head>
        <title>Account Exists</title>

    </head>
    <body>
        <h1 id="error">There is already an account for this user.</h1>
        <a href="/createAccount">Click here to create another account.</a>
    </body>
</html>