
<html>
  <head>
    <title>Create Account</title>
    <script>
       async function CreateAccount(){
         const username=document.getElementById("username").value;
         const password=document.getElementById("password").value;
         const confirmPassword=document.getElementById("confirmPassword").value;
         if(password==confirmPassword){
             const accountCreation=new XMLHttpRequest();
              accountCreation.open("POST", `/accountCreation?username=${username}&password=${password}`, true);
             accountCreation.setRequestHeader("Content-Type", "text/json");
             accountCreation.onreadystatechange=function(){
                
               if(accountCreation.readyState==4){
                 if(accountCreation.status==200||accountCreation.status==201){
                     alert("Successfully created your account.");
                     window.location.href="/signIn";
                 }
                 else{
                  alert("Unable to create your account");
                 }
               }
             }
            accountCreation.send();
         }
         else{
            alert("Your passwords must match.");
         }
     }
     function SignIn(){
         const username=document.getElementById("username").value;
         const password=document.getElementById("password").value;
         const signIn=new XMLHttpRequest();
         signIn.open("GET", `/check?username=${username}&password=${password}`, true);
         signIn.setRequestHeader("Content-Type", "text/json");
         signIn.onreadystatechange=function(){
          if(signIn.readyState==4&&signIn.status!=200&&signIn.status!=201){
                 
             alert("Unable to check if your log in info is accurate.");
          }
          else{
            window.location.href= `/check?username=${username}&password=${password}`;
          }
         }
         signIn.send();
     }
    </script>
    <style>
      .other{
        color:blue;
      }
      #create-account{
        background-color:orange;
        margin-top: 5px;
      }
      #sign-in{
        background-color:lightgreen;
          margin-top: 5px;
      }
      #title{
        color:white;
      }
    </style>
  </head>
  <body style="background-color:yellow">
     <form>
      <h2 id="title"></h2>
        <input type="text" id="username" placeholder="Username" required><br>
        <input type="password" id="password" placeholder="Password" required> 
        
     </form>
        
     
  </body>
    <script>
         //Resets text fields
         document.getElementById("username").value="";
         document.getElementById("password").value="";
         const title=document.getElementById("title");
         if(window.location.pathname=="/createAccount"){
            title.textContent="Create Account";
            document.body.innerHTML+=` <input type="password" id="confirmPassword" placeholder="Confirm Password" required><br/>
        <button id="create-account" onclick="CreateAccount()">Create Account</button><p class="other">If you already have an account, you can <a href='/signIn'>sign in</a></p>`;
         }
         else{
          document.title="Sign In";
          title.textContent="Sign In";
          document.body.innerHTML+="<button onclick='SignIn()' id='sign-in'>Sign In</button><p class='other'>If you don't have an account, you can <a href='/createAccount'>create one</a></p>";
         }
       </script>
</html>