
<html>
  <head>
    <title>Create Account</title>
    <script>
       async function CreateAccount(){
         const username=document.getElementById("username").value;
         const password=document.getElementById("password").value;
         const confirmPassword=document.getElementById("confirmPassword").value;
         if(password==confirmPassword){
             const accountCreation=new XMLHttpRequest();
              accountCreation.open("POST", `/accountCreation?username=${username}&password=${password}`, true);
             accountCreation.setRequestHeader("Content-Type", "text/json");
             accountCreation.onreadystatechange=function(){
                
               if(accountCreation.readyState==4){
                 if(accountCreation.status==200||accountCreation.status==201){
                     alert("Successfully created your account.");
                     window.location.href="/signIn";
                 }
                 else{
                  alert("Unable to create your account");
                 }
               }
             }
            accountCreation.send();
         }
         else{
            alert("Your passwords must match.");
         }
     }
     function SignIn(){
         const username=document.getElementById("username").value;
         const password=document.getElementById("password").value;
         window.location.href=`/check?username=${username}&password=${password}`;
     }
    </script>
  </head>
  <body>
     <form>
        <input type="text" id="username" placeholder="Username" required><br>
        <input type="password" id="password" placeholder="Password" required> 
        
     </form>
        
     
  </body>
    <script>
         if(window.location.pathname=="/createAccount"){
            document.body.innerHTML+=` <input type="password" id="confirmPassword" placeholder="Confirm Password" required><br/>
        <button id="createAccount" onclick="CreateAccount()">Create Account</button>`;
         }
         else{
          document.title="Sign In";
          document.body.innerHTML+="<button onclick='SignIn()'>Sign In</button>";
         }
       </script>
</html>