<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
    </head>
    <body>
        <form>
            Name:<input type="text" id="name"><br/>
            E-mail Address:<input type="email" id="email"><br/>
            Public:<input type="checkbox" id="public">
        </form>
    </body>
</html>